<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ general_width }}" height="{{ general_height }}" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>{{ title }} | {{ address }}</title>
    <g>
        {% for value in context %}
        <image x="{{ value.position }}" y="0" width="{{ value.width }}" height="{{ value.height }}"
               xlink:href="{{ value.base64 }}"></image>
        {% endfor %}
    </g>
</svg>
